<!DOCTYPE html>
<html ng-app="lakmeldung">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <title>L&K Angriffsmeldungstool</title>
</head>
<body style="margin: 1em">
<script type="text/javascript" src="angular/angular.min.js"></script>
<script type="text/javascript" src="app.js"></script>

<div ng-controller="appController as appCtrl">
<p>
<div class="form-group">
	<label for="spielerName" class="control-label">Spielername:</label>
	<input type="text" class="form-control" id="spielerName" ng-model="appCtrl.spielerName"/>
</div>
<div class="form-group">
    <label for="burgSelektion" class="control-label">Burg:</label>
    <select id="burgSelektion" class="form-control" ng-model="appCtrl.burg" ng-options="burg.name for burg in appCtrl.burgen">
    </select>
</div>
<button class="btn btn-primary" ng-click="appCtrl.neueBurg()">Weitere Burg Hinzufügen</button>
<button class="btn btn-danger" ng-if="appCtrl.burgen.length > 1" ng-click="appCtrl.burgEntfernen()">Burg Entfernen</button>
</p>
<hr/>
<p>
<div class="form-group">
	<label for="burgName" class="control-label">Burgname:</label>
	<input type="text" class="form-control" id="burgName" ng-model="appCtrl.burg.name"/>
</div>
<div class="form-group">
	<label for="burgLink" class="control-label">Burglink:</label>
	<input type="text" class="form-control" id="burgLink" ng-model="appCtrl.burg.link"/>
</div>
<div class="form-group">
	<label for="datum" class="control-label">Datum:</label>
	<input type="date" class="form-control" id="datum" ng-model="appCtrl.datum"/>
</div>
<div class="form-group">
	<label for="Zeit" class="control-label">Zeit:</label>
	<input type="time" class="form-control" id="zeit" ng-model="appCtrl.zeit"/>
</div>
<div class="form-group">
	<label for="brueckenLink" class="control-label">Brückenlink:</label>
	<input type="text" class="form-control" id="brueckenLink" ng-model="appCtrl.brueckenLink"/>
	<form target="_blank" method="post" action="https://lakkt.de/de/function/createDefList.php">
		<input type="hidden" name="time" value="{{appCtrl.zeit | date:'medium'}}">
		<input type="hidden" name="date" value="{{appCtrl.datum | date:'medium'}}">
		<input type="hidden" name="link" value="{{appCtrl.burg.link}}">
		<input type="hidden" name="name" value="{{appCtrl.burg.name}}">
		<button class="btn btn-success" type="submit">Erstelle Lakkt Link</button>
	</form>
</div>
<div class="form-group">
	<label for="angreifer" class="control-label">Angreiferinformation:</label>
	<input type="text" class="form-control" id="angreifer" ng-model="appCtrl.angreifer"/>
</div>
</p>
<p>
<h3>Angriffsmeldung</h3><br/>
<div><b>🔴 Angriff auf {{appCtrl.spielerName}}</b></div>
<br/>
<div>Burg: {{appCtrl.burg.name}} <a href="{{appCtrl.burg.link}}">{{appCtrl.burg.link}}</a></div>
<div>Zeit: {{appCtrl.datum | date:'d.M.'}}, {{appCtrl.zeit | date:'H:mm'}}</div>
<div>Brücke: <a href="{{appCtrl.brueckenLink}}">{{appCtrl.brueckenLink}}</a></div>
<div ng-if="appCtrl.angreifer !== ''">Angreifer: {{appCtrl.angreifer}}</div>
</p>
</div>

</body>