h2 {
    background-color: #dddddd;
    border-width: 1px;
    border-style: solid;
}
h3 { background-color: #eeeeee; }
h4 { font-variant: small-caps; font-weight: bolder; }
ul { list-style-type: disc; padding-left: 1.5em; }
table, th, td { border-width: 1px; border-style: solid; border-collapse: collapse; padding-left: 3px; padding-right: 3px; }
th { background-color: #dddddd; }
